{
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "react"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:react/recommended"
  ],
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "array-bracket-spacing": [ 2, "always" ],
    "eqeqeq": [ 2, "smart" ],
    "prefer-arrow-callback": 2,
    "react/no-danger": 0,
    "semi": [ 2, "never" ]
  }
}
