{
  "extends": ["eslint:recommended", "plugin:import/errors"],
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "no-console": 0
  },
  "globals": {
    "fetch": true,
    "Promise": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules"
        ]
      }
    }
  }
}
