/modules/
/node_modules/
/plugins/
/scripts/

/._service-account-staging.json
/._service-account.json
/.eslintrc
/.gcloudignore
/.git
/.gitignore
/.nvmrc
/.prettierignore
/.prettierrc
/.travis.yml
/README.md
/jest.config.js
/rollup.config.js
/secretKey.js
/secret_key
/secret_key.pub
/secrets.tar
/secrets.tar.enc
/service-account-staging.json
/service-account.json
/unpkg.sketch
/whitelist.json
