{
  "presets": [
    ["@babel/preset-env", { "loose": true, "targets": "> 0.25%, not dead" }],
    "@babel/preset-react"
  ],
  "plugins": [["@babel/plugin-proposal-class-properties", { "loose": true }]]
}
