body {
  font: 16px Helvetica, sans-serif;
  line-height: 1.5;
  padding: 5px 20px;
}

@media all and (min-width: 660px) {
  body {
    padding: 50px 20px;
  }
}

a:link {
  color: blue;
}
a:visited {
  color: rebeccapurple;
}

code {
  background: #eee;
}

table {
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px 1px;
}
table th, table td {
  text-align: left;
  vertical-align: top;
  padding: 5px 7px;
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 0 0;
}

.continent-row {
  font-weight: bold;
}
.country-name {
  padding-left: 2em;
}

.table-filter {
  display: block;
  text-align: right;
  color: #666;
  margin-bottom: 1em;
}
.table-filter input {
  font-size: 1em;
  text-align: right;
  max-width: 100px;
  color: #999;
}

header, .wrapper {
  max-width: 600px;
  margin: 0 auto;
}
h1, h2, h3, header nav {
  font-family: Futura, Helvetica, sans-serif;
  text-transform: uppercase;
}

header h1 {
  font-size: 4em;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.1em;
}
header nav {
  margin-bottom: 4em;
}
header nav a:link,
header nav a:visited {
  color: black;
}

.underlist {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
}
.underlist li {
  margin: 0 5px;
  padding: 0 5px;

  flex-basis: auto;
}
.underlist a:link {
  text-decoration: none;
}
.underlist-underline {
  height: 4px;
  background-color: black;
  position: absolute;
  left: 0;
}

.sponsor-logos {
  margin: 2em 0;
  display: flex;
  justify-content: center;
}
.sponsor-logo {
  text-align: center;
  flex: 1;
  max-width: 80%;
}
.sponsor-logo img {
  max-width: 60%;
}

.bar-graph {
  height: 200px;
}

.bar-graph svg {
  background: #eee;
}

.y-axis line,
.x-axis line {
  stroke: black;
  stroke-width: 1px;
}
