body {
  font: 14px Helvetica, sans-serif;
  line-height: 1.5;
  padding: 5px 20px;
}
@media all and (min-width: 660px) {
  body {
    padding: 50px 20px;
  }
}
code{
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 92%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}
header, #wrapper {
  max-width: 600px;
  margin: 0 auto;
}
header {
  text-align: center;
}
code {
  background: #eee;
}
table {
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px 1px;
}
table th, table td {
  text-align: left;
  vertical-align: top;
  padding: 5px 7px;
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 0 0;
}
.octo-link{
  position:fixed;
  right: 0;
  top:0;
  align-self: flex-end;
}
