.app {
  max-width: 900px;
  margin: 0 auto;
}

.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.app-version-selector {
  line-height: 2.25em;
  float: right;
}
.app-version-selector select {
  font-size: 1em;
}

.app-address {
  text-align: right;
}
